.date-btn {
  display: flex;
  justify-content: space-between;
}

.btn-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.theme {
  margin-top: 20px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 16px;
  }


.dark {
  background-color: #a8a8a8;
}
